{% extends "calculator/base.html" %}
{% load static %}
{% load form_tags %}

{% block content %}
<div class="container mt-5">
    <!-- Відображення повідомлень -->
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <h2>Додати новий продукт</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Назва продукту</label>
            {{ form.name|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="calories" class="form-label">Калорійність (Ккал/100г)</label>
            {{ form.calories|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="proteins" class="form-label">Білки (г/100г)</label>
            {{ form.proteins|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="fats" class="form-label">Жири (г/100г)</label>
            {{ form.fats|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="carbohydrates" class="form-label">Вуглеводи (г/100г)</label>
            {{ form.carbohydrates|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Додати</button>
    </form>
</div>
{% endblock content %}
