<!DOCTYPE html>
<html lang="uk">

<head>
    {% comment %} Обов'язкові метатеги {% endcomment %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% comment %} Bootstrap CSS {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    {% comment %} Додаткові стилі {% endcomment %}
    {% load static %}
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    {% comment %} Заголовок сторінки {% endcomment %}
    <title>{% block title %}Калькулятор калорій{% endblock %}</title>
</head>

<body>
    <header>
        {% comment %} Меню сайту {% endcomment %}
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Калькулятор калорій</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view_dict' %}">Словник</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Продукти</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'product_of_name' %}">По назві</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'product_of_calories' %}">По калорійності</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'add_product' %}">Додати продукт</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search" method="GET" action="{% url 'product_of_name' %}">
                        <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Search" name="search" value="{{ search_query }}">
                        <button class="btn btn-outline-success" type="submit">Пошук</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    {% comment %} Bootstrap JS and dependencies {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    {% comment %} Додаткові скрипти {% endcomment %}
    <script src="{% static 'js/custom.js' %}"></script>

    <footer class="footer bg-secondary text-white d-flex justify-content-center align-items-center">
        <span>Дожор</span>
    </footer>
</body>

</html>
