{% extends "calculator/base.html" %}%
{% load static %}

{%block content%}

<div class="container d-flex justify-content-center align-items-center">
    <main>
тут буде Калькулятор
    </main>
</div>

{% endblock content %}