{% extends "calculator/base.html" %}%
{% load static %}

{%block content%}

<div class="container d-flex justify-content-center align-items-center">
    <main>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/food.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Привіт, Танька!</h5>
              <p class="card-text">Хочеш нямкати? Давай порахуємо шо нині можна поїсти, щоб ненажерти жопу як Атайський край</p>
              <a href="#" class="btn btn-primary">Рахувати</a>
            </div>
        </div>
    </main>
</div>

{% endblock content %}