{% extends "calculator/base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <main class="container">

    {% if search_query %}
        <h2>Результати пошуку для "{{ search_query }}"</h2>
        <p>Знайдено результатів: {{ search_results_count }}</p>
    {% endif %}

    {% if page_obj %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Назва</th>
                <th scope="col">Калорійність (Ккал/100г)</th>
                <th scope="col">Білки</th>
                <th scope="col">Жири</th>
                <th scope="col">Вуглеводи</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in page_obj %}
                <tr>
                    <td>
                        <a href="{% url 'product_detail' obj.pk %}">{{ obj.name }}</a>
                    </td>
                    <td>{{ obj.calories }}</td>
                    <td>{{ obj.proteins }}</td>
                    <td>{{ obj.fats }}</td>
                    <td>{{ obj.carbohydrates }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Нічого не знайдено.</p>
    {% endif %}

    {% block navigation_pagination %}
    {% if page_obj.has_other_pages %}
    <nav>
        <div class="container d-flex justify-content-center align-items-center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">«</a>
                </li>
            {% endif %}
            
            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-item active">
                <span class="page-link">{{ p }}</span>
            </li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ p }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ p }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">»</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </nav>
    {% endif %}
    {% endblock navigation_pagination %}
    </main>
</div>
{% endblock content %}
