{% extends 'calculator/base.html' %}
{% load static %}

{% block content %}
<div class="container">

    <!-- Відображення повідомлень -->
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <h1>{{ product.name }}</h1>
    <table class='table'>
        <tr>
            <th>Калорійність (Ккал/100г)</th>
            <td>{{ product.calories }}</td>
        </tr>
        <tr>
            <th>Білки</th>
            <td>{{ product.proteins }}</td>
        </tr>
        <tr>
            <th>Жири</th>
            <td>{{ product.fats }}</td>
        </tr>
        <tr>
            <th>Вуглеводи</th>
            <td>{{ product.carbohydrates }}</td>
        </tr>
    </table>
    
    <a href="{% url 'product_of_name' %}"><button type="button" class="btn btn-primary">Повернутись до списку продуктів</button></a>
    
    <form method="post" action="{% url 'add_to_dict' product.pk %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="weight" >Вага (грами):</label>
            <input type="number" class="form-control" id="weight" name="weight" required>
        </div>
        <button type="submit" class="btn btn-success">Додати до словника</button></a>
    </form>


</div>

{% endblock content %}

