{% extends 'calculator/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Ваш вибір</h1>
    {% if product_dict %}
    <div class="d-flex justify-content-end mb-3">
        <!-- Кнопка для очищення словника -->
        <a href="{% url 'clear_dict' %}" class="btn btn-danger">Очистити словник</a>
    </div>
    <table class='table'>
        <thead>
            <tr>
                <th>Назва</th>
                <th>Калорійність</th>
                <th>Вага</th>
                <th>Білки</th>
                <th>Жири</th>
                <th>Вуглеводи</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for key, product in product_dict.items %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.calories|floatformat:2 }}</td>
                <td>{{ product.weight|floatformat:2 }}</td>
                <td>{{ product.proteins|floatformat:2 }}</td>
                <td>{{ product.fats|floatformat:2 }}</td>
                <td>{{ product.carbohydrates|floatformat:2 }}</td>
                <td>
                    <!-- Кнопка для видалення продукту -->
                    <a href="{% url 'remove_from_dict' key %}" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Загальна кількість</h2>
    <table class='table'>
        <tr>
            <th>Калорійність (Ккал)</th>
            <td>{{ total_calories|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Вага продукту(ів) (г)</th>
            <td>{{ total_weight|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Білки (г)</th>
            <td>{{ total_proteins|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Жири (г)</th>
            <td>{{ total_fats|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Вуглеводи (г)</th>
            <td>{{ total_carbohydrates|floatformat:2 }}</td>
        </tr>
    </table>

    {% else %}
    <p>Ваш словник порожній.</p>
    {% endif %}
</div>
{% endblock content %}
